body {
  text-align: center;
  background-color: #0abde9;
}

.navbar {
  background-image: url("../img/pokeball-background.png");
  background-size: cover;
  background-color: #eb3333;
  background-repeat: no-repeat;
  background-position: left;
}
.container {
  padding-top: 100px;
}
@media all and (max-width: 500px) {
  .container {
    padding-top: 200px;
  }
}

/* pokemon buttons */
.pokemon-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 2.5rem;
  justify-items: center;
  align-items: center;
}
.list-group-item {
  border: none;
  background-color: #0abde9;
}
.pokemon-button {
  width: 10rem;
  height: 2rem;
  text-align: center;
  font-size: 1.2rem;
  padding: 0 1rem;
  cursor: pointer;
  background-image: url("../img/pokeball-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  background-color: #131f58;
  color: #dcd7d6;
}

.modal-content {
  background-image: url("../img/pokedex-screen.png");
  background-repeat: no-repeat;
  background-color: #eb3333;
  background-size: contain;
  background-position: top;
}

.modal-header {
  margin: 0;
  padding: 0.5rem 4rem;
  border: none;
  color: white;
}
.modal-title h1 {
  font-size: 1.5rem;
}
.modal-header .close {
  padding: 0rem;
}
.modal-head {
  width: 100%;
}
.modal-info {
  align-self: flex-start;
}
.modal img {
  width: 150px;
}
