body {
  text-align: center;
}
.container {
  padding-top: 100px;
}
@media all and (max-width: 500px) {
  .container {
    padding-top: 200px;
  }
}

/* pokemon buttons */
.pokemon-button {
  width: 70%;
  max-width: 500px;
  height: 3.3rem;
  margin: 1rem 0;
  text-align: center;
  font-size: 1.2rem;
  padding: 0 1rem;
  cursor: pointer;
}

.modal-content {
  /* height: 285px; */
  background-image: url("../img/pokedex-screen.png");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-color: #eb3333;
  background-size: contain;
  background-position: top;
}
.modal-head {
  width: 100%;
}
.modal-info {
  align-self: flex-start;
}
.modal img {
  width: 150px;
}
