body {
  text-align: center;
}
ul {
  list-style: none;
}

/* pokemon buttons */
.pokemon-button {
  width: 70%;
  height: 3.3rem;
  margin: 1rem 0;
  text-align: left;
  font-size: 1.2rem;
  padding: 0 1rem;
}
